@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Rubik&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
.menu {
    display: flex;
    justify-content: end;
    background: #D8BFD8;
    color:#fff;
    font-size: 0.75em;
    padding: 10px;
    
}
.menu button{
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 3px 10px;
    
}
.titulo{
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card{
    text-align: center;
    border-radius: 15px;
    box-shadow: 7px 9px 10px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
}
.card button{
    background: transparent;
    color: #9400D3;
    border: 01px solid #9400D3;
    border-radius: 20px;
    padding: 10px;

}
.rodape{
    display: flex;
   justify-content: space-between; 
    font-size: smaller;
    background: #D8BFD8;
    padding: 40px;
}
hr{
    margin: 15px;
}
.salada{
    margin: 20px;
}

/*modal*/
.modal{
    display:none;
    top: 100px;
    left: 10px;
    right: 10px;
    z-index: 100;
    background: #fff;
    padding: 35px;
    position: absolute;
    border-radius: 20px;
    
}
.modal input{
    width: 100%;
    padding: 6px;
    font-size: 1.1em;
    border-radius: 10px;
}
  
.modal div{
    display: flex;
    justify-content: space-between;
    margin-top: 25px ;

}

.modal button{
    background: transparent ;
    padding: 10px;
    border: 1px solid #D8BFD8;
    border-radius: 20px;
    color: #D8BFD8;
}
.fundo{
    display: none;
    background: rgb(0, 0, 0);
    position: absolute;
    z-index: 50;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
#noticiaCadastrada ul{
    list-style-type: none;
    margin: 15px;
    padding: 0;
}
#noticiaCadastrada li{
    border: 1px solid #ccc;
    padding: 20px;

}


